html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #252525;
  color: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.controls {
  width: 83%;
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

button {
  background: #222;
  color: #eee;
  border: 1px solid #555;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s, transform 0.2s;
}

button:hover {
  background: #1C1C1C;
  transform: scale(1.05);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  justify-items: start;
  gap: 5px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #1C1C1C;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 5px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 4px;
  margin-bottom: 6px;
}

.name {
  font-weight: bold;
  font-size: 1rem;
  line-height: normal;
  margin: auto;
  color: #0077cc;
  text-decoration: none;
}

.points {
  font-size: 1.5rem;
  color: #ccc;
  margin: auto auto 0px auto;
}

.changelog {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.changelog h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.changelog-entry h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.changelog-entry ul {
  margin: 0;
  padding-left: 20px;
}
